body {
	margin-top: 25px;
	background-color: #2a2a2a;
	color: #ffffff;
}

table.data {
	border: none;
	width: 100%;
}

#button_link {
	border: none;
	background-color: #555555;
	color: #ffffff;
	margin-bottom: 25px;
}

.accordion_header {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: 1px solid white;
  transition: 0.4s;
}

ul.accordion_content {
	margin-top: 10px;
	padding: 0px;
	padding-left: 5px;
}

.accordion_content {
	color: #ffffff;
	margin: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.active, .accordion_header:hover {
  background-color: #606060;
}

.panel {
  padding: 0 18px;
  outline: 1px solid white;
  background-color: #3f3f3f;
  color: black;
  display: none;
  overflow: hidden;
}