body {
	margin-top: 25px;
	background-color: #d9ffff;
	color: #000000;
}

table.data {
	border: none;
	width: 100%;
}

#button_link {
	margin-bottom: 25px;
}

.accordion_header {
  background-color: #0090ff;
  color: #111111;
  cursor: pointer;
  font-weight: bold;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: 1px solid black;
  transition: 0.4s;
}

ul.accordion_content {
	margin-top: 10px;
	padding: 0px;
	padding-left: 5px;
}

.accordion_content {
	margin: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.active, .accordion_header:hover {
  background-color: #22ffff;
}

.panel {
  padding: 0 18px;
  outline: 1px solid black;
  background-color: white;
  color: black;
  display: none;
  overflow: hidden;
}